* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

section {
    background-color: #82A0AA;
}



/*-------------------------Header*/

header {
    padding: 50px;
    background-color: #000;
}


/*-------------------------Logo*/

#logo {
    margin-left: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}


/*-------------------------Nav bar*/

.navbar {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 0 30px;
}

.navbar a {
    font-size: 25px;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*-------------------------Hero image*/

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/hero-image-new.jpeg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

/*-------------------------Cover title*/

#cover-text-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cover-text {
    width: 800px;
    color: #fff;
    margin: 0 auto;
}

#cover-text h1 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#cover-text h2 {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 3px;
}

#cover-text a {
    color: inherit;
}

hr {
    border: 1px solid #fff;
    margin: 50px auto;
    width: 50px;

}

/*-------------------------What we do*/

#what-we-do-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    height: 250px;
    width: 350px;
    background-color: #4B4A54
}

#what-we-do {
    text-align: center;
    color: #fff;
    padding: 7px;

}

#what-we-do h3 {
    letter-spacing: 3px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}

#what-we-do p {
    line-height: 150%;
    font-weight: lighter;
}

#background-image {
    width: 100%;
    height: 400px;
    background: url(../images/overlay-image.jpeg) no-repeat center center;
    background-size: cover;
}

#background-colour {
    background-color: rgba(130, 160, 170, 0.8);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*-------------------------Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    height: 100px;
    background-color: #000;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.social h4 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 10px;
    color: #fff;
}

.social li {
    display: inline;
    margin: 0 auto;
}

.social ul {
    padding: 20px
}

.social i {
    font-size: 150%;
    padding-left: 5px;
    color: #fff;
}

.footer p {
    padding-right: 10px;
    font-size: 10px;
    color: #fff;
}

/*-------------------------About section*/

.about-container1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 460px;
    background-color: #82A0AA;
}

.about-container2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: #82A0AA;
}

.about-info-container {
    width: 600px;
    height: 280px;
    background-color: #4B4A54;
    margin: 30px;

}

.about-info-container h3 {
    font-size: 25px;
    text-align: center;
    margin: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about-info-container p {
    line-height: 150%;
    margin: 20px;
    color: #fff;
}

.about-image-container {
    width: 380px;
    height: 380px;
    background-color: #4B4A54;
    margin: 30px;
}

.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-------------------------Rivers section*/

#rivers-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

#rivers-heading h3 {
    font-size: 25px;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#river1-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 380px;
}

#river2-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 380px;

}

#image-container1, #image-container2 {
    width: 400px;
    height: 320px;
    margin: 0 20px;

}

#image-container1 img, #image-container2 img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.river-info {
    background-color: #4B4A54;
    width: 400px;
    height: 340px;
    padding: 10px;
}

.river-info h4 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
}

.river-info p {
    color: #fff;
    line-height: 150%;
}

.river-info a {
    color: inherit;
    padding-left: 15px;
    
}

/*-------------------------Visit, stay, experience section*/

.places-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    background-color: #82A0AA;
    padding-top: 50px;
}

.small-container {
    width: 350px;
    height: 560px;
    background-color: #4B4A54;
    padding: 5px;
}

.small-container h3 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
}

.small-container h4 {
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    margin: 10px 0 15px;
    color: #fff;
}

.small-container p {
    line-height: 150%;
    color: #fff;
}

.place-image-container {
    width: 350px;
    height: 180px;
}

.place-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-------------------------Sign up*/

#form-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background: url(../images/form-background.jpg) no-repeat center center;
    background-size: cover;
}

.sign-up-form {
    background-color: rgba(130, 160, 170, 0.8);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: inherit;
}

.sign-up-form h3 {
    padding: 30px 20px;
    letter-spacing: 3px;
    line-height: 1.5;
}

.sign-up-form p {
    margin: 30px 30px 0px;
    padding: 5px;
    font-size: 15px;
    background-color: #fff;
}

.text-input {
    margin: 20px;
    padding: 3px 410px 3px 3px;
}

.label-content {
    padding: 0 20px;
    padding: 0 20px;
    letter-spacing: 3px;
}

.create-account {
    margin: 30px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed';
}

/*-------------------------Media Queries*/

@media screen and (max-width: 1110px) {
    .about-container1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 600px;
    }

    .about-container2 {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: 600px;
    }

    .places-container {
        flex-wrap: wrap;
        height: 1200px;
    }
}

@media screen and (max-width: 900px) {
    #river1-container, #river2-container {
        flex-direction: column;
        height: 750px;
        justify-content: space-evenly;
    }

    .places-container {
        justify-content: space-evenly;
        height: 1800px;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {
    #logo {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        text-align: center;
        font-size: 30px;
        padding-bottom: 20px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar li {
        margin-bottom: 5px;
    }

    .about-info-container {
        width: 350px;
        height: 400px;
    }

    .about-container1,
    .about-container2 {
        height: 880px;
    }

    .sign-up-form {
        width: 350px;
        height: 650px;
    }

    .text-input {
        padding: 3px 160px 3px 3px;
    }
}

@media screen and (max-width: 500px) {
    #cover-text {
        padding: 0 20px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 430px) {
    .river-info {
        width: 100%;
    }

    .river-info p {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    #image-container1, #image-container2 {
        width: 100%;
    }

    .river-info {
        width: 100%;
    }

    .river-info p {
        padding: 12px;
    }

    #image-container1, #image-container2 {
        width: 100%;
    }

    .river-info {
        height: 380px;
    }

    #image-container2 {
        margin-top: 30px;
    }

    #river1-container {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 360px) {
    #what-we-do-container {
        width: 100%;
    }

    #what-we-do {
        padding: 5 10px;
    }

    .footer h4 {
        font-size: 15px;
    }

    .about-container1,
    .about-container2 {
        height: 880px;
    }

    .about-info-container {
        width: 300px;
        height: 420px;
    }

    .about-image-container {
        width: 320px;
        height: 320px;
    }

    .small-container {
        width: 100%;
        height: 580px;
    }

    .place-image-container {
        width: 100%;
    }

    .small-container p {
        padding: 0 15px;
    }

    .river-info {
        height: 400px;
        width: 100%;
    }
}