* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

/*-------------------------Header*/

header {
    padding: 50px;
    background-color: #000;
}


/*-------------------------Logo*/

#logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}


/*-------------------------Nav bar*/

#navbar {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#navbar li {
    display: inline;
    margin: 0 30px;
}

#navbar li a {
    font-size: 25px;
    color: #fff;
}