* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

section {
    background-color: #82A0AA;
}

/*-------------------------Code used from ADG website, see README credits*/

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*-------------------------Header*/

header {
    padding: 50px 20px;
    background-color: #000;
}


/*-------------------------Logo*/

#logo {
    margin-left: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#logo-container {
    display: flex;
    justify-content: center;

}

header img {
    width: 65px;
    height: 49px;
}

/*-------------------------Nav bar*/

.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 0 30px;
}

.navbar a {
    font-size: 25px;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navbar a:hover {
    border-bottom: solid 1px #fff;
}

/*-------------------------Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    height: 100px;
    background-color: #000;
    width: 100%;
}

/*-------------------------Footer social media links*/

.social {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.social h4 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 10px;
    color: #fff;
}

.social li {
    display: inline;
    margin: 0 auto;
}

.social ul {
    padding: 20px
}

.social a {
    font-size: 25px;
    padding-left: 5px;
    color: #fff;
}
.footer a:hover {
    color: #82a0aa;
}

/*-------------------------Footer copyright*/

.footer p {
    padding-right: 10px;
    font-size: 10px;
    color: #fff;
}

/*-------------------------Hero image on index page*/

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/index-images/hero-image.webp) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

/*-------------------------Cover title on index page*/

#cover-text-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#cover-text {
    width: 800px;
    color: #fff;
    margin: 0 auto;
}

#cover-text h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#cover-text h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 2px;
}

#cover-text a {
    color: inherit;
}

#cover-text a:hover {
    font-size: 29px;
}

hr {
    border: 1px solid #fff;
    margin: 50px auto;
    width: 50px;

}

/*-------------------------What we do on index page*/

#what-we-do-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    height: 265px;
    width: 350px;
    background-color: #4B4A54;
    outline: 1px solid #4B4A54;
    outline-offset: 10px;
}

#what-we-do {
    text-align: center;
    color: #fff;
    padding: 7px;
}

#what-we-do h3 {
    letter-spacing: 3px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}

#what-we-do p {
    line-height: 150%;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

#what-we-do a {
    color: inherit;
    padding-left: 10px;
}

#what-we-do a:hover {
    color: #000;
}

#what-we-do i {
    font-size: 20px;
    margin-left: 5px;
}

/*-------------------------What we do background image on index page*/

#background-image {
    width: 100%;
    height: 400px;
    background: url(../images/index-images/overlay-image.webp) no-repeat center center;
    background-size: cover;
}

#background-colour {
    background-color: rgba(130, 160, 170, 0.8);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*-------------------------Background image on about page*/

#about-background-image {
    width: 100%;
    height: 100%;
    background: url(../images/about-images/about-background-image1.webp) no-repeat center center;
    background-size: cover;
}

#about-background-colour {
    background-color: rgba(130, 160, 170, 0.8);
    width: 100%;
    height: 100%;
}

/*-------------------------Containers on about page*/

.about-container1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 460px;
}

.about-container2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 450px;
}

/*-------------------------Body text on about page*/

.about-info-container {
    width: 600px;
    height: 280px;
    background-color: #4B4A54;
    margin: 30px;
    outline: 1px solid #4B4a54;
    outline-offset: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.about-info-container h3 {
    font-size: 25px;
    text-align: center;
    margin: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: lighter;
}

.about-info-container p {
    line-height: 150%;
    margin: 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.about-info-container a {
    color: inherit;
}

.about-info-container i {
    font-size: 20px;
    padding-left: 5px;
}

.about-info-container a:hover {
    color: #000;
}

/*-------------------------Images on about page*/

.about-image-container {
    width: 380px;
    height: 380px;
    background-color: #4B4A54;
    margin: 30px;
}

.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-------------------------Featured rivers background image on explore page*/

#river-image-background {
    width: 100%;
    height: 100%;
    background: url(../images/explore-images/explore-background.webp) center center no-repeat;
    background-size: cover;
}

#background-river-colour {
    width: 100%;
    height: 100%;
    background-color: rgba(130, 160, 170, 0.8);
}

/*-------------------------Featured rivers heading on explore page*/

.explore-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}

.explore-heading h3 {
    font-size: 25px;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #fff;
    padding: 5px 40px;
    border-radius: 5px;
}

/*-------------------------Featured rivers containers on explore page*/

#river1-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 380px;
    margin-bottom: 20px;
}

#river2-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 380px;
    padding-bottom: 30px;

}

/*-------------------------Featured rivers images on explore page*/

#image-container1,
#image-container2 {
    width: 400px;
    height: 320px;
    margin: 0 40px;

}

#image-container1 img,
#image-container2 img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

/*-------------------------Featured rivers body text on explore page*/

.river-info {
    background-color: #4B4A54;
    width: 400px;
    height: 360px;
    outline: 1px solid #4B4A54;
    outline-offset: 10px;
}

.river-info h4 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
}

.river-info p {
    color: #fff;
    line-height: 150%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.river-info a {
    color: inherit;
    padding-left: 20px;
}

.river-info a:hover {
    color: #000;
}

/*-------------------------Explore more background image on explore page*/

#explore-background-image {
    width: 100%;
    height: 100%;
    background: url(../images/explore-images/experience-background-image.webp) center center no-repeat;
    background-size: cover;
}

#explore-background-colour {
    width: 100%;
    height: 100%;
    background-color: rgba(130, 160, 170, 0.8);
}

/*-------------------------Explore more containers on explore page*/

.places-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 630px;
    padding-top: 10px;
}

.small-container {
    width: 350px;
    height: 620px;
    background-color: #4B4A54;
}

/*-------------------------Explore more body content on explore page*/

.small-container h3 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
}

.small-container h4 {
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    margin: 10px 0 15px;
    color: #fff;
    font-weight: 300;
}

.small-container p {
    line-height: 150%;
    color: #fff;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.small-container a {
    color: inherit;
}

.small-container a:hover {
    color: #000;
}

.small-container i {
    font-size: 20px;
    padding-left: 5px;
}

/*-------------------------Explore more images on explore page*/

.place-image-container {
    width: 350px;
    height: 180px;
}

.place-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-------------------------Background image on sign up page*/

.form-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background: url(../images/sign-up-images/form-background.webp) no-repeat center center;
    background-size: cover;
}

/*-------------------------Form on sign up page*/

.sign-up-form {
    background-color: rgba(130, 160, 170, 0.8);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: inherit;
}

/*-------------------------Heading on sign up page*/

.sign-up-form h3 {
    padding: 30px 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 20px;
}

/*-------------------------Personal information paragraph on sign up page*/

.sign-up-form p {
    margin: 30px 30px 0px;
    padding: 5px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
}

/*-------------------------Input and label content on sign up page*/

.text-input {
    margin: 20px;
    padding: 3px 410px 3px 3px;
}

.label-content {
    padding: 0 20px;
    padding: 0 20px;
    letter-spacing: 3px;
}

/*-------------------------Button on sign up page*/

.all-buttons {
    margin: 30px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed';
}

.all-buttons:hover {
    color: #fff;
    background-color: #000;
}

/*-------------------------Container on thank you page*/

#thank-you-container {
    background-color: rgba(130, 160, 170, 0.8);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*-------------------------Heading on thank you page*/

#thank-you-container h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 50px;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
}

/*-------------------------Sign up instruction paragraph on thank you page*/

#thank-you-container p {
    font-size: 20px;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

/*-------------------------Sorry container on 404 Error Page*/

#sorry-container {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(130, 160, 170, 0.8);
}

/*-------------------------First heading on 404 Error Page*/

#sorry-container h1 {
    font-size: 50px;
    text-transform: uppercase;
}

/*-------------------------Second heading on 404 Error Page*/

#sorry-container h2 {
    font-size: 25px;
}

/*-------------------------Third heading on 404 Error Page*/

#sorry-container h3 {
    font-size: 18px;
}

/*-------------------------All headings on 404 Error Page*/

#sorry-container h1, #sorry-container h2, #sorry-container h3 {
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    letter-spacing: 3px;
}

/*-------------------------Background image on 404 Error Page*/

#error-background-image {
    width: 100%;
    height: 800px;
    background: url(../images/404-background.webp) no-repeat center center;
    background-size: cover;
}

/*-------------------------Media Queries 1260px*/

@media screen and (max-width: 1260px) {

    /*-------------------------Home page*/

    #logo-container {
        justify-content: center;
    }
}

/*-------------------------Media Queries 1100px*/

@media screen and (max-width: 1110px) {

    /*-------------------------About page*/

    .about-container1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 680px;
    }

    .about-container2 {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: 680px;
    }

    /*-------------------------Explore page*/

    .places-container {
        flex-wrap: wrap;
    }
}

/*-------------------------Media Queries 1063px*/

@media screen and (max-width: 1063px) {

    /*-------------------------Explore page*/

    .places-container {
        height: 1300px;
    }
}

/*-------------------------Media Queries 900px*/

@media screen and (max-width: 900px) {

    /*-------------------------Explore page*/

    #river1-container,
    #river2-container {
        flex-direction: column;
        height: 750px;
        justify-content: space-evenly;
    }

    .places-container {
        justify-content: space-evenly;
        height: 2000px;
        flex-direction: column;
        align-items: center;
    }

}

/*-------------------------Media Queries 768px*/

@media screen and (max-width: 768px) {

    /*-------------------------Header*/

    header {
        padding: 20px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        }
}

/*-------------------------Media Queries 600px*/

@media screen and (max-width: 600px) {

    /*-------------------------Header*/

    #logo {
        text-align: center;
        font-size: 30px;
        padding-bottom: 20px;
    }

    #logo-container img {
        width: 40px;
        height: 30px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar li {
        margin-bottom: 5px;
    }

    /*-------------------------About page*/

    .about-info-container {
        width: 350px;
        height: 400px;
    }

    .about-container1,
    .about-container2 {
        height: 880px;
    }

    /*-------------------------Sign up page*/

    .sign-up-form {
        width: 350px;
        height: 700px;
    }

    .sign-up-form h3 {
        text-align: center;
    }

    .text-input {
        padding: 3px 160px 3px 3px;
    }

    /*-------------------------Thank you page*/

    #thank-you-container {
        width: 350px;
    }

    #thank-you-container p {
        width: 280px;
        text-align: center;
    }

    /*-------------------------404 page*/

    #sorry-container h2, h3 {
        text-align: center;
    }
}

/*-------------------------Media Queries 500px*/

@media screen and (max-width: 500px) {

    /*-------------------------Home page*/

    #cover-text {
        padding: 0 20px;
    }

    /*-------------------------Explore page*/

    .river-info {
        outline: none;
    }

    /*-------------------------Footer*/

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        margin-bottom: 10px;
    }
}

/*-------------------------Media Queries 430px*/

@media screen and (max-width: 430px) {

    /*-------------------------Explore page*/

    .river-info {
        width: 100%;
    }

    .river-info p {
        padding: 10px;
    }
}

/*-------------------------Media Queries 400px*/

@media screen and (max-width: 400px) {

    /*-------------------------Home page*/

    #what-we-do-container {
        height: 300px;
    }

    /*-------------------------About page*/

    .about-info-container {
        width: 100%;
        outline: none;
    }


    #image-container1,
    #image-container2 {
        width: 100%;
    }

    .river-info {
        width: 100%;
        height: 400px;
    }

    .river-info p {
        padding: 12px;
    }

    /*-------------------------About page*/

    #image-container1,
    #image-container2 {
        width: 100%;
    }

    #image-container2 {
        margin-top: 30px;
    }

    /*-------------------------Explore page*/

    #river1-container {
        margin-bottom: 20px;
    }

    .river-info {
        height: 410px;
        width: 100%;
    }

    .small-container {
        width: 100%;
        height: 650px;
    }

    .small-container p {
        padding: 0 15px;
    }

    .place-image-container {
        width: 100%;
    }
    
    .places-container {
        height: 2000px;
        padding-top: 0;
    }

    /*-------------------------Sign up page*/

    .sign-up-form {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .text-input {
        padding-right: 60px;
    }
      
}

/*-------------------------Media Queries 360px*/

@media screen and (max-width: 360px) {

    /*-------------------------Home page*/

    #what-we-do-container {
        width: 100%;
        outline: none;
    }

    #what-we-do {
        padding: 5px 10px;
    }

    #what-we-do a {
        padding: 10px;
    }

    /*-------------------------Footer*/

    .footer h4 {
        font-size: 15px;
    }

    /*-------------------------About page*/

    .about-container1,
    .about-container2 {
        height: 880px;
    }

    .about-info-container {
        width: 100%;
    }

    .about-image-container {
        width: 100%;
        height: 320px;
    }

    /*-------------------------Explore page*/

    .explore-heading {
        padding-top: 30px;
    }

    .explore-heading h3 {
        padding: 5px;
    }
}

/*-------------------------Media Queries 330px*/

@media screen and (max-width: 330px) {

    /*-------------------------About page*/

    .about-info-container {
        height: 460px;
    }

    /*-------------------------Explore page*/
    
    .places-container {
        height: 2100px;
    }
    
    .small-container {
        height: 680px;
    }
}

